body {
    background-color: #e8fff5;
}

.button {
    width: 100%;
}

.input {
    width: 100%;
    background-color: white;
}

.containerGrid {
    padding: 20px;
}

.subContainerGrid {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.subContainer {
    border: 1px solid #7b1fa2;
    padding: 20px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.cardContainer{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.element{
    border-bottom: 1px solid #1F9A77;
    color:darkslategrey;
}

.element2{
    border-bottom: 1px solid #7b1fa2;
    color:blueviolet;
}

.closeBtn{
    color:rgba(139, 2, 2, 0.185)
}

.closeBtn:hover{
    color:rgb(255, 0, 0);
}